<h1>All Tags</h1>

<ul id="tags">
  <% @tags.each do |tag| %>
  <h3 style="display:inline"><%= link_to tag.name, tag_path(tag) %></h3>
  <%= link_to "delete", tag_path(tag), method: :delete %>
      <li>
      <% tag.articles.each do |article| %>
        <p style="text-indent:20px"><%= link_to article.title, article_path(article) %><br /></p>
      <% end %>
      </li><br />
      <% end %>
</ul>